@inherits ReactiveComponent

@using System.Text.Json
@using MapMaven.Core.Utilities.Scoresaber

<MudTd Class="pa-0" Style="width: 50px; position: relative;">
    @if (CurrentlyPlaying)
    {
        <div class="playback-progress">
            <MudProgressCircular Color="Color.Info" Max="1" Value="PlaybackProgress" Style="width: 24px; height: 24px" />
        </div>
    }
    <MudIconButton Icon="@(CurrentlyPlaying ? Icons.Material.Filled.StopCircle : Icons.Material.Filled.PlayCircle)"
                   OnClick="PlayPauseSongPreview">
    </MudIconButton>
</MudTd>
<MudTd Class="pa-1" Style="width: 50px">
    @if (!string.IsNullOrEmpty(CoverImageUrl))
    {
        <img class="cover-image" src="@CoverImageUrl" />
    }
</MudTd>
<MudTd DataLabel="Name">@Map.Name</MudTd>
<MudTd DataLabel="SongAuthorName">
    <MudLink @onclick="SelectSongAuthor" Color="Color.Default" Typo="Typo.body2">@Map.SongAuthorName</MudLink>
</MudTd>
<MudTd DataLabel="MapAuthorName">@Map.MapAuthorName</MudTd>
<MudTd DataLabel="Duration" Style="width: 130px">@Map.SongDuration.ToString("mm':'ss")</MudTd>
@if (!string.IsNullOrEmpty(PlayerId))
{
    <MudTd>
        @if (Map.PlayerScore != null)
        {
            <MudChip Color="Color.Primary" Size="Size.Small">@Map.PlayerScore.AccuracyWithMods().ToString("#0.##")%</MudChip>
        }
    </MudTd>
    <MudTd Style="width: 130px">
        @if (Map.PlayerScore?.Score?.Pp != null)
        {
            <MudChip Color="Color.Primary" Size="Size.Small">@Map.PlayerScore.Score.Pp.ToString("#0.##") pp</MudChip>
        }
    </MudTd>
    <MudTd Style="width: 130px">
        @if (Map.ScoreEstimates != null)
        {
            @foreach (var scoreEstimate in Map.ScoreEstimates)
            {
                <MudChip Color="Color.Primary" Size="Size.Small">
                    @scoreEstimate.Difficulty |
                    @scoreEstimate.Stars <MudIcon Icon="@Icons.Filled.Star" Size="Size.Small"></MudIcon> |
                    @scoreEstimate.Accuracy.ToString("#0.##") % |
                    +@scoreEstimate.PPIncrease.ToString("#0.##") pp
                </MudChip>
            }
        }
    </MudTd>
    <MudTd>
        @if (Map.PlayerScore?.Score?.HasReplay == true)
        {
            <MudButton Class="replay-button" OnClick="OpenReplay" Style="min-width: 0; border-radius: 100%;"><img src="images/replay-icon.png" style="width: 24px" /></MudButton>
        }
    </MudTd>
}
<MudTd Style="width: 130px; position: relative;">
    <MudIconButton Icon="@Icons.Filled.PlaylistAdd" Variant="Variant.Text" Size="Size.Medium" OnClick="OpenAddMapToPlaylistDialog" />
    @if (SelectedPlaylist != null)
    {
        <MudIconButton Icon="@Icons.Filled.PlaylistRemove" Variant="Variant.Text" Size="Size.Medium" OnClick="OpenDeleteFromPlaylistDialog" />
    }
</MudTd>
