@inherits ReactiveComponent

@using MapMaven.Core.Models.Data;

@{
    var totalProgressPercentage = (Progress?.TotalProgress ?? 0) * 100;
}

<div class="d-flex align-center">
    @if (Progress != null)
    {
        <MudProgressCircular Color="Color.Primary" Size="Size.Small" Class="mr-2" Value="@totalProgressPercentage" />
    }

    <span style="width: 300px;">
        @if (CreatingPlaylist)
        {
            @:Creating playlist
        }

        @if (Progress != null && Progress.TotalItems != Progress.CompletedItems)
        {
            <text>
                @(CreatingPlaylist ? "- " : "")
                Adding map: @Progress.CurrentItem.Name 
                @if (Progress.TotalItems > 1)
                {
                    @: (@(Progress.CompletedItems + 1) / @Progress.TotalItems) 
                }
                (@totalProgressPercentage.ToString("#0") %)
            </text>
        }
    </span>

    @if (CancellationToken != null)
    {
        <MudTooltip Text="Cancel">
            <MudIconButton Icon="@Icons.Material.Filled.Cancel" OnClick="Cancel"></MudIconButton>
        </MudTooltip>
    }
</div>

@code {
    [Parameter]
    public IObservable<ItemProgress<Map>> ProgressReport { get; set; }

    [Parameter]
    public bool CreatingPlaylist { get; set; }

    [Parameter]
    public CancellationTokenSource? CancellationToken { get; set; }

    ItemProgress<Map> Progress { get; set; }

    protected override void OnInitialized()
    {
        SubscribeAndBind(ProgressReport, progress => Progress = progress);
    }

    void Cancel() => CancellationToken?.Cancel();
}
