@inherits ReactiveComponent

@using MapMaven.Core.ApiClients;
@using MapMaven.Core.Services;

@if (Player != null)
{
    <div class="d-flex pa-2 profile">
        <img src="@Player.ProfilePicture" class="profile-background-image" />
        <a href="https://scoresaber.com/u/@Player.Id" class="d-flex align-center">
            <MudAvatar Image="@Player.ProfilePicture" />
        </a>
        <div class="pl-2 full-width">
            <a href="https://scoresaber.com/u/@Player.Id"><h3>@Player.Name</h3></a>
            <div>
                <span>
                    <MudIcon Icon="@Icons.Material.Filled.Language" Style="font-size: 1rem; transform: translateY(2px);"></MudIcon>
                    @Player.Rank
                </span>
                <span class="ml-4">
                    <span class="fi fi-@Player.Country.ToLower() mr-1"></span>
                    @Player.CountryRank
                </span>
            </div>
            <div>
                <span>
                    <b>pp</b>
                    @Player.Pp.ToString("#0.##")
                </span>
                <div style="float: right;">
                    <MudTooltip Text="Refresh all data">
                        <MudIconButton Icon="@Icons.Material.Filled.Refresh" OnClick="RefreshData" Class="pa-0"></MudIconButton>
                    </MudTooltip>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Inject]
    IScoreSaberService ScoreSaberService { get; set; }

    [Inject]
    IMapService MapService { get; set; }

    Player Player { get; set; } = null;

    protected override void OnInitialized()
    {
        SubscribeAndBind(ScoreSaberService.PlayerProfile, player => Player = player);
    }

    void RefreshData()
    {
        Task.Run(() => MapService.RefreshDataAsync(forceRefresh: true));
    }
}
