@using MapMaven.Core.Models;
@inherits ReactiveComponent

<MudDialog Style="width: 600px">
    <TitleContent>
        <div class="d-flex align-center">
            <MudIcon Icon="@Icons.Material.Filled.Settings" Class="mr-2"></MudIcon>
            <h3>@(InitialSetup ? "Setup" : "Settings")</h3>
            @if(!InitialSetup)
            {
                <MudIconButton Icon="@Icons.Material.Filled.Close" OnClick="Close" Style="margin-left: auto"></MudIconButton>
            }
        </div>
    </TitleContent>
    <DialogContent>
        <MudTextField
            @bind-Value="BeatSaberInstallLocation"
            DebounceInterval="300"
            OnDebounceIntervalElapsed="AutoFillPlayerId"
            Variant="Variant.Outlined"
            Label="Beat Saber install location"
            Class="mb-4"
            Adornment="Adornment.End"
            AdornmentIcon="@Icons.Filled.DriveFileMove"
            OnAdornmentClick="PickFolder">
        </MudTextField>
        <MudTextField
            @bind-Value="ScoreSaberPlayerId"
            DebounceInterval="300"
            Variant="Variant.Outlined"
            Label="ScoreSaber player ID / URL (optional)"
            Class="mb-4">
        </MudTextField>
        <MudTextField
            @bind-Value="BeatLeaderPlayerId"
            DebounceInterval="300"
            Variant="Variant.Outlined"
            Label="BeatLeader player ID / URL (optional)">
        </MudTextField>

        @{
            var availableLeaderboards = new List<LeaderboardProvider?>();

            if (!string.IsNullOrEmpty(ScoreSaberPlayerId))
                availableLeaderboards.Add(LeaderboardProvider.ScoreSaber);

            if (!string.IsNullOrEmpty(BeatLeaderPlayerId))
                availableLeaderboards.Add(LeaderboardProvider.BeatLeader);

            if (availableLeaderboards.Count == 1)
                ActiveLeaderboardProvider = availableLeaderboards.First();
        }

        <LeaderboardSelector
            AvailableLeaderboardProviders="availableLeaderboards"
            @bind-SelectedLeaderboardProvider="ActiveLeaderboardProvider">
        </LeaderboardSelector>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" Variant="Variant.Filled" Class="ma-3" Disabled="string.IsNullOrEmpty(BeatSaberInstallLocation)" OnClick="SaveSettings">
            @(InitialSetup ? "Start" : "Save")
        </MudButton>
    </DialogActions>
</MudDialog>