<MudTd Class="pa-0" Style="width: 50px; position: relative;">
    @if (CurrentlyPlaying)
    {
        <div class="playback-progress">
            <MudProgressCircular Color="Color.Info" Max="1" Value="PlaybackProgress" Style="width: 24px; height: 24px" />
        </div>
    }
    <MudIconButton Icon="@(CurrentlyPlaying ? Icons.Material.Filled.StopCircle : Icons.Material.Filled.PlayCircle)"
                   OnClick="PlayPauseSongPreview">
    </MudIconButton>
</MudTd>
<MudTd Class="pa-1" Style="width: 50px">
    @if (!string.IsNullOrEmpty(CoverImageDataUrl))
    {
        <img class="cover-image" src="@CoverImageDataUrl" />
    }
</MudTd>
<MudTd DataLabel="Name">@Map.Name</MudTd>
<MudTd DataLabel="SongAuthorName">@Map.SongAuthorName</MudTd>
<MudTd DataLabel="MapAuthorName">@Map.MapAuthorName</MudTd>
<MudTd DataLabel="Duration">@Map.SongDuration.ToString("mm':'ss")</MudTd>