@using MapMaven.Core.Models
@using MapMaven.Core.Models.Data.Playlists
@using MapMaven.Models.Data.Playlists

@inherits ReactiveComponent

<div class="fill-remaining-space">
    <MudList T="string" Class="d-flex flex-column full-height" ReadOnly="false" Color="Color.Primary">
        <MudListSubheader Class="d-flex align-center justify-space-between py-2" Style="border-top: 1px solid var(--mud-palette-table-lines)">
            <div class="d-flex align-center">
                <MudIcon Icon="@Icons.Material.Filled.PlaylistPlay"></MudIcon> Playlists
            </div>
            <MudMenu Icon="@Icons.Material.Filled.Add" Size="Size.Small">
                <MudMenuItem Icon="@Icons.Material.Filled.PlaylistAdd" OnClick="OpenAddPlaylistDialog">Add playlist</MudMenuItem>
                <MudMenuItem Icon="@Icons.Material.Filled.PlaylistAdd" OnClick="OpenAddDynamicPlaylistDialog">Add dynamic playlist</MudMenuItem>
                <MudMenuItem Icon="@Icons.Material.Filled.CreateNewFolder" OnClick="OpenAddPlaylistFolderDialog">Add playlist folder</MudMenuItem>
            </MudMenu>
        </MudListSubheader>
        <MudTextField @bind-Value="PlaylistSearchText"
                      DebounceInterval="300"
                      Immediate="true"
                      Clearable="true"
                      Variant="Variant.Outlined"
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      IconSize="Size.Small"
                      Class="mx-4 mb-2 small-input">
        </MudTextField>
        <MudChipSet T="PlaylistType?"
                    @bind-SelectedValue="PlaylistTypeFilter"
                    SelectionMode="SelectionMode.ToggleSelection"
                    Size="Size.Small"
                    Class="mx-4 mb-2">
            <MudChip T="PlaylistType?" Value="@PlaylistType.Playlist" SelectedColor="Color.Info">Playlists</MudChip>
            <MudChip T="PlaylistType?" Value="@PlaylistType.DynamicPlaylist" SelectedColor="Color.Info">Dynamic playlists</MudChip>
        </MudChipSet>
        @if (LoadingPlaylists)
        {
            <MudProgressCircular Color="Color.Info" Size="Size.Small" Indeterminate="true" Class="align-self-center" />
        }
        <div class="full-height" style="overflow-y: auto;">
            @if (string.IsNullOrEmpty(PlaylistSearchText))
            {
                <MudTreeView T="Playlist" SelectedValue="SelectedPlaylist" SelectedValueChanged="OnPlaylistSelect" ExpandOnClick="true" AutoExpand="true">
                    <PlaylistTreeViewFolder Folder="PlaylistTree.RootPlaylistFolder" />
                </MudTreeView>
            }
            else
            {
                <MudTreeView T="Playlist" SelectedValue="SelectedPlaylist" SelectedValueChanged="OnPlaylistSelect" ExpandOnClick="true">
                    <PlaylistTreeViewFolder Folder="PlaylistTree.RootPlaylistFolder" Expanded="true" />
                </MudTreeView>
            }
        </div>
    </MudList>
</div>