@inherits ReactiveComponent

<MudDialog Class="playlist-selector-dialog">
    <DialogContent>
        <div>
            <MudTextField @bind-Value="PlaylistSearchText"
                          DebounceInterval="300"
                          Immediate="true"
                          Clearable="true"
                          Variant="Variant.Outlined"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Small"
                          Class="mx-4 mb-4 small-input">
            </MudTextField>
        </div>
        <MudList Class="d-flex flex-column fill-remaining-space" Style="overflow-y: auto;" Clickable="true">
            @foreach (var playlist in Playlists)
            {
                <MudListItem title="@playlist.Title" OnClick="() => OnPlaylistSelect(playlist)" Value="playlist" Class="py-1 px-2" Style="min-height: 46px;">
                    <div class="playlist-list-item">
                        @if (!string.IsNullOrEmpty(playlist.CoverImageSmall.Value))
                        {
                            <img src="data:image/png;@playlist.CoverImageSmall.Value" class="ml-3 mr-3" />
                        }
                        else
                        {
                            <MudIcon Icon="@Icons.Filled.PlaylistPlay" Class="ml-3 mr-3" Style="width: 30px; height: 30px"></MudIcon>
                        }
                        <span>@playlist.Title</span>
                    </div>
                </MudListItem>
            }
        </MudList>
        <MudButton
            OnClick="CreateNewPlaylist"
            Variant="Variant.Outlined"
            Class="ma-5"
            StartIcon="@Icons.Material.Filled.Add">
            New playlist
        </MudButton>
    </DialogContent>
</MudDialog>