@using MapMaven.Models.Data.Playlists

@inherits ReactiveComponent

<div class="fill-remaining-space">
    <MudList Class="d-flex flex-column" Clickable="true" Color="Color.Primary" Style="height: 50%;">
        <MudListSubheader Class="d-flex align-center justify-space-between py-2" Style="border-top: 1px solid var(--mud-palette-table-lines)">
            <div class="d-flex align-center">
                <MudIcon Icon="@Icons.Filled.PlaylistPlay"></MudIcon> Playlists
            </div>
            <MudIconButton Icon="@Icons.Filled.Add" Variant="Variant.Outlined" Size="Size.Small" OnClick="OpenAddPlaylistDialog" />
        </MudListSubheader>
        <MudTextField @bind-Value="PlaylistSearchText"
                      DebounceInterval="300"
                      Immediate="true"
                      Variant="Variant.Outlined"
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      IconSize="Size.Small"
                      Class="mx-4 mb-4 small-input">
        </MudTextField>
        @if (LoadingPlaylists)
        {
            <MudProgressCircular Color="Color.Info" Size="Size.Small" Indeterminate="true" Class="align-self-center" />
        }
        <div class="full-height" style="overflow-y: auto;">
            @foreach (var playlist in Playlists)
            {
                <MudListItem title="@playlist.Title" OnClick="() => OnPlaylistSelect(playlist)" Class="@(playlist == SelectedPlaylist ? "mud-selected-item mud-primary-text py-0 px-1" : "py-0 px-1")" Style="height: 46px;">
                    <div class="playlist-list-item">
                        @if (!string.IsNullOrEmpty(playlist.CoverImageSmall.Value))
                        {
                            <img src="data:image/png;@playlist.CoverImageSmall.Value" class="ml-3 mr-3" />
                        }
                        else
                        {
                            <MudIcon Icon="@Icons.Filled.PlaylistPlay" Class="ml-3 mr-3" Style="width: 30px; height: 30px"></MudIcon>
                        }
                        <span>@playlist.Title</span>
                        <MudMenu Icon="@Icons.Material.Filled.MoreVert" Class="ml-auto">
                            <MudMenuItem OnClick="() => OpenEditPlaylistDialog(playlist)">Edit</MudMenuItem>
                            <MudMenuItem OnClick="() => OpenDeletePlaylistDialog(playlist)">Delete</MudMenuItem>
                        </MudMenu>
                    </div>
                </MudListItem>
            }
        </div>
    </MudList>

    <MudList Class="d-flex flex-column" Clickable="true" Color="Color.Primary" Style="height: 50%;">
        <MudListSubheader Class="d-flex align-center justify-space-between py-2" Style="border-top: 1px solid var(--mud-palette-table-lines)">
            <div class="d-flex align-center">
                <MudIcon Icon="@Icons.Filled.PlaylistPlay"></MudIcon> Dynamic Playlists
            </div>
            <MudIconButton Icon="@Icons.Filled.Add" Variant="Variant.Outlined" Size="Size.Small" OnClick="OpenAddDynamicPlaylistDialog" />
        </MudListSubheader>
        <MudTextField @bind-Value="DynamicPlaylistSearchText"
                      DebounceInterval="300"
                      Immediate="true"
                      Variant="Variant.Outlined"
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      IconSize="Size.Small"
                      Class="mx-4 mb-4 small-input">
        </MudTextField>
        @if (LoadingPlaylists)
        {
            <MudProgressCircular Color="Color.Info" Size="Size.Small" Indeterminate="true" Class="align-self-center" />
        }
        <div class="full-height" style="overflow-y: auto;">
            @foreach (var playlist in DynamicPlaylists)
            {
                <MudListItem title="@playlist.Title" OnClick="() => OnPlaylistSelect(playlist)" Class="@(playlist == SelectedPlaylist ? "mud-selected-item mud-primary-text py-0 px-1" : "py-0 px-1")" Style="height: 46px;">
                    <div class="playlist-list-item">
                        @if (!string.IsNullOrEmpty(playlist.CoverImageSmall.Value))
                        {
                            <img src="data:image/png;@playlist.CoverImageSmall.Value" class="ml-3 mr-3" />
                        }
                        else
                        {
                            <MudIcon Icon="@Icons.Filled.PlaylistPlay" Class="ml-3 mr-3" Style="width: 30px; height: 30px"></MudIcon>
                        }
                        <span>@playlist.Title</span>
                        <MudMenu Icon="@Icons.Material.Filled.MoreVert" Class="ml-auto">
                            <MudMenuItem OnClick="() => OpenEditDynamicPlaylistDialog(playlist)">Edit</MudMenuItem>
                            <MudMenuItem OnClick="() => OpenDeletePlaylistDialog(playlist)">Delete</MudMenuItem>
                        </MudMenu>
                    </div>
                </MudListItem>
            }
        </div>
    </MudList>
</div>
