@using ApexCharts
@using MapMaven.Core.Models
@using MudBlazor.Utilities

@inherits ReactiveComponent

@page "/dashboard"

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="full-height" Style="padding-top: 24px; padding-bottom: 24px;">
    @if (Player is not null)
    {
        <MudGrid Justify="Justify.FlexEnd" Class="full-height">
            <MudItem xs="2">
                <MudCard>
                    <MudCardHeader Class="card-header-highlight justify-space-between">
                        <div class="d-flex flex-column align-center">
                            <span>
                                <MudIcon Icon="@Icons.Material.Filled.Language" Style="font-size: 1rem; transform: translateY(2px);"></MudIcon>
                                @Player.Rank
                            </span>
                            @if (RankChange is not null)
                            {
                                <ValueChange Value="@RankChange.Value" Style="font-size: 12px;"></ValueChange>
                            }
                            else
                            {
                                <span style="height: 15px"></span>
                            }
                        </div>
                        <div class="d-flex flex-column align-center">
                            <span>
                                <span class="fi fi-@Player.CountryCode.ToLower() mr-1"></span>
                                @Player.CountryRank
                            </span>
                            @if (CountryRankChange is not null)
                            {
                                <ValueChange Value="@CountryRankChange.Value" Style="font-size: 12px;"></ValueChange>
                            }
                            else
                            {
                                <span style="height: 15px"></span>
                            }
                        </div>
                        <div class="d-flex flex-column align-center">
                            <span>
                                <b>pp</b>
                                @Player.Pp.ToString("#0.##")
                            </span>
                            @if (PpChange is not null)
                            {
                                <ValueChange Value="@PpChange.Value" Style="font-size: 12px;"></ValueChange>
                            }
                            else
                            {
                                <span style="height: 15px"></span>
                            }
                        </div>
                    </MudCardHeader>
                    <MudCardContent>
                        <h4>Best scored map tags:</h4>
                        @foreach (var value in BestScoredMapTags.Select((tag, index) => (tag, number: index + 1)))
                        {
                            <MudChip Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Small">@value.number. @value.tag</MudChip>
                        }
                    </MudCardContent>
                </MudCard>
                <MudChip Label="true" Class="full-width">
                    <span><b>pp</b> Top PP | <b>@TopPp?.ToString("#0.##")</b></span>
                </MudChip>
                <MudChip Icon="@Icons.Material.Filled.Adjust" Label="true" Class="full-width">
                    <span>Average ranked accuracy | <b>@AverageRankedAccuracy?.ToString("#0.##")</b></span>
                </MudChip>
                <MudChip Icon="@Icons.Material.Filled.Star" Label="true" Class="full-width">
                    <span>Average star difficulty | <b>@AverageStarDifficulty?.ToString("#0.##")</b></span>
                </MudChip>
            </MudItem>
            <MudItem xs="10" Class="full-height" Style="overflow-y: auto;">
                <MudGrid>
                    <MudItem xs="12">
                        <MudCard>
                            <MudCardHeader Class="card-header-highlight">
                                <CardHeaderContent>
                                    <div class="d-flex align-center">
                                        <MudIcon Icon="@Icons.Material.Filled.Language" Class="mr-2"></MudIcon>
                                        <MudText Typo="Typo.h6">Global rank</MudText>
                                    </div>
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MudCardContent Class="py-0">
                                @if (Player?.RankHistory is not null && Player.RankHistory.Any())
                                {
                                    <ApexChart @ref="RankHistoryChart"
                                               TItem="RankHistoryRecord"
                                               Options="RankHistoryChartOptions"
                                               Height="300">

                                        <ChildContent>
                                            <ApexPointSeries TItem="RankHistoryRecord"
                                                             Items="Player.RankHistory"
                                                             Name="Rank"
                                                             SeriesType="SeriesType.Line"
                                                             XValue="x => x.Date"
                                                             YValue="x => x.Rank"
                                                             DataPointMutator="SetCustomData"
                                                             OrderBy="x => x.X"
                                                             Color="@MapMavenTheme.Theme.Palette.Primary.ColorLighten(0.2).ToString(MudColorOutputFormats.Hex)" />
                                        </ChildContent>
                                    </ApexChart>
                                }
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                    <MudItem xs="6">
                        <MudCard>
                            <MudCardHeader Class="card-header-highlight">
                                <CardHeaderContent>
                                    <b>Recent high PP gain maps</b>
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MapList Maps="RecentHighPpGainMaps" ShowHeader="false" HiddenColumns="[MapListColumn.ScoreEstimates]"></MapList>
                        </MudCard>
                    </MudItem>
                    <MudItem xs="6">
                        <MudCard>
                            <MudCardHeader Class="card-header-highlight">
                                <CardHeaderContent>
                                    <div class="d-flex justify-space-between align-center">
                                        <b>Recommended maps based on recent scores</b>
                                        <div class="d-flex align-center">
                                            @if (RecentAverageStarDifficulty.HasValue)
                                            {
                                                <MudChip Size="MudBlazor.Size.Small"><MudIcon Icon="@Icons.Material.Filled.Star" /> >= @RecentAverageStarDifficulty.Value.ToString("0.##")</MudChip>
                                            }
                                            @if (!string.IsNullOrEmpty(RecentBestScoredMapTag))
                                            {
                                                <MudChip Size="MudBlazor.Size.Small"><MudIcon Icon="@Icons.Material.Filled.Label" /> @RecentBestScoredMapTag</MudChip>
                                            }
                                            <MudMenu Icon="@Icons.Material.Filled.PlaylistAdd">
                                                <MudMenuItem OnClick="AddRecommendedMapsToPlaylist">Add playlist</MudMenuItem>
                                                <MudMenuItem OnClick="AddRecommendedMapsDynamicPlaylist">Add dynamic playlist</MudMenuItem>
                                            </MudMenu>
                                        </div>
                                    </div>
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MapList Maps="RecommendedMaps" ShowHeader="false" HiddenColumns="[MapListColumn.Pp]"></MapList>
                        </MudCard>
                    </MudItem>
                </MudGrid>
            </MudItem>
        </MudGrid>
    }
</MudContainer>

<HeadContent>
    <script src="./Pages/Dashboard.razor.js"></script>
</HeadContent>
